/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color:rgba(232,226,222,.4);
    background-color:#fffbf6;
}

.navbar {
    background-color:#FFFFFF;
}

.navbar-brand {
    position:absolute;
    left:50%;
    display:block;
}

.post-panel {
    margin-top:-21px;
    border-radius:0;
    border-color:#efefef;
}

.post-title{
    text-align:left;
    margin-left:20px;
}  

.post-content{
    text-align:left;
    margin-top:-10px;
    // margin-left:20px;
}

.post-links{
    text-align:left;
    margin-top:-5px;
    margin-bottom:-5px;
    // margin-left:20px;
}

a.posted-user {
    color:#c2c278;
    font-weight:bold;
    text-decoration:none;
    letter-spacing:2px;
}

a.posted-user:hover{
    text-decoration:underline;
}

.g-links {
    text-align:left;
    margin-right:75px;
    color:#dadaad;
    opacity:0.4;
}

.postforming {
    margin-top:21px;
    margin-bottom:-25px;
}

.backtotop{
    margin-top:-21px;
    text-align:center;
}

.panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}
.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}
.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
    overflow: hidden;
}
.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}
.panel-image.hide-panel-body ~ .panel-body {
    height: 0px;
    padding: 0px;
}
.panel-footer {
    background-color: white;
}
.profile-banner {
    width: 100%;
    height: 500px;
    margin-top: -21px;
}